.main-container {
  width: 90%;
  margin: 1em auto;
  text-align: center;
}
.score-container {
  text-align: center;
  margin: 10% auto;
  font-size: 1.6em;
}
.miss {
  background-color: #ffcaca;
  padding: 4px 6px;
  border-radius: 4px;
}
.correct {
  background-color: rgb(173, 233, 173);
  padding: 4px 6px;
  border-radius: 4px;
}
.score {
  font-size: 2em;
  color: rgb(250, 0, 104);
  font-weight: bold;
}
.error {
  background-color: #ffcaca;
  font-size: 1.5em;
  padding: 16px;
  border-radius: 6px;
  text-align: center;
  margin: 1em;
}
